*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monospace", "Courier New", monospace ,"Noto Sans Thai";
    font-weight: lighter;
}
body{
  background: linear-gradient(to right, rgb(1, 1, 1), rgba(0, 247, 21, 0)); /* Gradient background */
    color: aliceblue;
    scroll-behavior: smooth;
}
.firstpage{
    background: url(seb.jpg) no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    /* background: rgba(0, 0, 0, .3); */
    /* backdrop-filter: blur(50px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before{   /* navbar */
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3); 
    z-index: -1;

}
.header::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: linear-gradient(90deg,transparent,rgb(184, 184, 184),transparent);
    transition: 1s;
}
.header:hover::after{
    left: 100%;
}
.logo{
    font-size: 2rem;
    color:#fff;
    text-decoration: none;
    font-weight: 700;
}
.logo:hover{
    animation: wiggle 0.5s infinite;
}


.navbar a{
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}
nav.navbar a:hover {
    transition: .3s;
    color: rgb(0, 0, 0);
    background-color: rgb(54, 133, 47);
}

#check{
    display: none;
}
.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
@media (max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }
}
@media (max-width: 768px){
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }

    #check:checked~.icons #close-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .3);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar{
        height: 10rem;     /* ความยาวnavbar บนโทรศัพท์ */ 
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;

        transition: .3s ease;
    }
    #check:checked~.navbar a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
    .service-item{
        grid-template-columns: repeat(auto-fit,minmax(350px,auto));
    }
}
@keyframes stretch {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
        bac
    }
}

.top-text {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    position: relative;
    overflow: hidden;
    
}
.top-text::after {
    align-items: center;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto; /* กำหนดความยาวเท่ากับข้อความ */
    height: 2px; /* ความสูงของเส้น */
    background-color: rgb(255, 255, 255); /* สีของเส้น */
    animation: stretch 2s infinite; /* ใช้ animation ชื่อ stretch ความยาว 2 วินาที และเป็นการทำซ้ำไม่มีจำกัด */

}
.centered-input {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust as needed */

}
.search-box{
    /* margin-top: 100px; */
    border-radius: 20px;
    color: rgb(52, 18, 18);
    text-indent: 20px;
}
.search-icon{
    margin-top: -8px;
    cursor: pointer;
    font-size: 40px;
    border-radius: 20px;
    margin-left: 10px; 
    transition: .5s;
}
.search-icon:hover{
background-color:rgb(100, 32, 32);
}
.centered-input input[type="text"] {
    width: 300px; /* Adjust as needed */
    width: 400px; /* Increase the width */
    height: 40px; /* Increase the height */
    font-size: 18px; /* Increase the font size */
    margin-bottom: 10px;
}
.search-button {
    color: rgb(100, 32, 32);
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(0, 0, 0);
    border: none;
    padding: 10px 20px; /* Padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13.5px;
    margin: 4px 4px 4px 2px; /* Adjust margin-right here */
    cursor: pointer;
    border-radius: 8px; /* Rounded corners */
    transition-duration: 0.4s;
    margin-bottom: 30px;
}
footer {
  text-align: center;
  background-color: #000000;
  padding: 20px 0;
}

footer p {
  margin: 0;
  font-size: 17px;
  color: #ffffff;
}

footer p a {
  color: #333;
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
}

.search-button:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(100, 32, 32);
    border: 2px solid rgb(0, 0, 0);
}

/* Styles for search results */
.result-image {
    width: 400px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 20px;
    margin: 0 auto;
    display: block; 
}
.character-name {
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    margin-top: 5px;
    text-align: center;
}


@media screen and (max-width: 576px) {
    .search-button {
    margin-top: -5px;
    padding: 10px 16px; /* Padding */ 
}
}


.hidden {
    border: 0 !important;
    height: 1px !important;
    opacity: 0;
    overflow: hidden;
    padding: 0 !important;
    pointer-events: none;
    position: absolute !important;
    width: 1px !important;
  }
  .compsoul-body {
    align-items: center;
    background: linear-gradient(to bottom , #000000, #ffffff); /* Green gradient */
    display: flex;
    flex-flow: column wrap;
    font-size: 2vw;
    padding: 6vw;
  }
  .compsoul-roulette-label {
    background: #000000;
    color: #ffffff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
    padding: 0.8vw 1.2vw;
    margin: 0 0 3.2vw;
    text-transform: uppercase;
  }
  
  .compsoul-roulette-label {
    font-size: 30px;
    background-color: rgb(58, 139, 58);
    border-radius: 20%;
    border: 4px solid white; /* Make it white */
}
.compsoul-roulette-label:hover{
  background-color: rgb(81, 33, 23);
}


  .compsoul-roulette-label:before {

    content: "Gacha!"; /* คำพูด */
  }
  .compsoul-roulette-checkbox:checked + .compsoul-roulette-label:before {
    content: "Stop!";
  }
  .compsoul-roulette {
    --size: 34em;
    --number-of-items: 12;
    --angle: calc( 3.1416 / var(--number-of-items) );
    --tangent-first: var(--angle);
    --tangent-second: calc( (1/3) * var(--angle) * var(--angle) * var(--angle) );
    --tangent-third: calc( (2 / 15) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) );
    --tangent-fourth: calc( (17/315) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) * var(--angle) );
    --tangent: calc( var(--tangent-first) + var(--tangent-second) + var(--tangent-third) + var(--tangent-fourth) );
    outline: 1.2em solid #fff;
    outline-offset: -1em;
    border-radius: 100%;
    box-shadow: 1.2em 1.2em 0 -0.8em #00000022;
    height: var(--size);
    position: relative;
    width: var(--size);
    z-index: 1;
  }
  .compsoul-roulette:before,
  .compsoul-roulette:after {
    background: #00000022;
    border-radius: 100%;
    content: "";
    height: 8em;
    left: 50%;
    position: absolute;
    top : 50%;
    transform: translate(-45%, -45%);
    width: 8em;
    z-index: 2;
  }
  .compsoul-roulette:after {
    background: #ffffff url("G.png") no-repeat center; 
    background-size: 80%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .compsoul-roulette .roulette-marker {
    border-radius: 0.4em 0 0 0.4em;
    left: -2em;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 0;
  }
  .compsoul-roulette .roulette-marker:before,
  .compsoul-roulette .roulette-marker:after {
    border-bottom: 2em solid transparent;
    border-left: 4em solid #ff0000;
    border-top: 2em solid transparent;
    content: "";
    display: block;
    height: 0;
    width: 0;
  }
  .compsoul-roulette .roulette-marker:after {
    border-left: 4em solid #00000022;
    position: absolute;
    top: 0.4em;
    z-index: -1;
  }
  .compsoul-roulette .roulette-list {
    animation: roulette 0.8s linear infinite paused;
    border-radius: 100%;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: -1;
  }
  .compsoul-roulette-checkbox:checked + .compsoul-roulette-label + .compsoul-roulette .roulette-list {
    animation-play-state: running;
  }
  @keyframes roulette {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
 .compsoul-roulette .roulette-item {  /* font roulette size */
    align-items: center;
    bottom: calc( var(--size) / 2 );
    color: #ffffff;
    display: flex;
    font-size: 1em;
    font-weight: 600;
    height: calc( var(--size) / 2 );
    left: calc( var(--size) / 4 );
    position: absolute;
    text-indent: 2em;
    text-transform: uppercase;
    transform-origin: bottom center;
    width: calc( var(--size) / 2 );
    writing-mode: vertical-rl;
  }
  .compsoul-roulette .roulette-item:nth-child(1) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 0 ) );
  }
  .compsoul-roulette .roulette-item:nth-child(2) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 1 ) );
  }
  .compsoul-roulette .roulette-item:nth-child(3) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 2 ) );
  }
  .compsoul-roulette .roulette-item:nth-child(4) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 3 ) );
  }
  .compsoul-roulette .roulette-item:nth-child(5) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 4 ) );
  }
  .compsoul-roulette .roulette-item:nth-child(6) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 5 ) );
  }
  .compsoul-roulette .roulette-item:nth-child(7) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 6 ) );
  }
  .compsoul-roulette .roulette-item:nth-child(8) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 7 ) );
  }
  .compsoul-roulette .roulette-item:nth-child(9) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 8 ) );
  }
  .compsoul-roulette .roulette-item:nth-child(10) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 9 ) );
  }
  .compsoul-roulette .roulette-item:nth-child(11) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 10 ) );
  }
  .compsoul-roulette .roulette-item:nth-child(12) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 11 ) );
  }
  .compsoul-roulette .roulette-item:nth-child(13) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 12 ) );
  }
  .compsoul-roulette .roulette-item:nth-child(14) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 13 ) );
  }
  .compsoul-roulette .roulette-item:nth-child(15) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 14 ) );
  }
  .compsoul-roulette .roulette-item:nth-child(16) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 15 ) );
  }
  .compsoul-roulette .roulette-item:nth-child(17) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 16 ) );
  }
  .compsoul-roulette .roulette-item:nth-child(18) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 17 ) );
  }
  .compsoul-roulette .roulette-item:nth-child(19) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 18 ) );
  }
  .compsoul-roulette .roulette-item:nth-child(20) {
    transform: rotate( calc( 360deg / var(--number-of-items) * 19 ) );
  }
  .compsoul-roulette .roulette-item:after {
    bottom: 0;
    border-right: calc( var(--size) / 2 * var(--tangent) + 1px ) solid transparent;
    border-top: calc( var(--size) / 2 ) solid transparent;
    border-left: calc( var(--size) / 2 * var(--tangent) + 1px ) solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: 0;
    z-index: -1;
  }
  .compsoul-roulette .roulette-item:nth-child(4n+1):after {
    border-top-color: #143f6b;
  }
  .compsoul-roulette .roulette-item:nth-child(4n+2):after {
    border-top-color: #247e2d;
  }
  .compsoul-roulette .roulette-item:nth-child(4n+3):after {
    border-top-color: #F55353;
  }
  .compsoul-roulette .roulette-item:nth-child(4n+4):after {
    border-top-color: #a07633;
  }
  .imgqr {
    width: 100%; /* กำหนดให้รูปภาพขนาดเต็มขอบ */
    height: auto; /* ปรับขนาดสูงอัตโนมัติตามอัตราส่วน */
}

/* Media query สำหรับโทรศัพท์ */
@media (max-width: 576px) {
    .imgqr {
        width: 100%; /* กำหนดให้รูปภาพขนาดเต็มขอบ */
        height: auto; /* ปรับขนาดสูงอัตโนมัติตามอัตราส่วน */
    }
}
